# Assignment 1 - Python Basics
### AI Bootcamp Cohort 1

Monday, November 27th, 2023

Submitted by: Khurram Maqsood

#### Instructions:

1. Complete the following tasks based on the concepts covered in the "Python Basics" session. 
   Write your Python code in a .py file or use a Jupyter Notebook to solve the problems.
   
2. Ensure that your code is well-commented, and variable names are descriptive.

3. If any task requires output, print the result to the console.

4. Submit the completed .py file or Jupyter Notebook.

## Task 1: Variables and Data Types

**a) Create three variables: one for storing your age (integer), one for your name (string), and one to
   check if you are a student (Boolean). Print the variables.**

In [19]:
# Initializing the variables
age = 55
name = "Khurram Maqsood"  
is_student = True  

# Printing the variables
print("Name:", name)
print("Age:", age)
print("Is student:", is_student)

Name: Khurram Maqsood
Age: 55
Is student: True

**b) Perform the following operations and print the results:**
    
- Add 25 to your age variable.
- Concatenate your name with the string "Smith."
- Negate the Boolean variable (if True, make it False, and vice versa).

In [20]:
# Performing the given operations 
age += 25  
name += " Smith"  
is_student = not is_student 

# Printing the resulted variables
print("Age:", age)
print("Name:", name)
print("Negated Is Student:", is_student)

Age: 80
Name: Khurram Maqsood Smith
Negated Is Student: False

## Task 2: Expressions and Operators

**a) A rectangle has a width of 5.5 units and a height of 3.25 units. Store width and height in variables.
   Create a new variable called area and write an expression to calculate the area. Print the area in the
   output.**

In [3]:
# Initializing the variables
width = 5.5
height = 3.25

# Computing the area of the rectangle
area = width * height

# Print the area
print("The area of the rectangle is:", area, "square units")

The area of the rectangle is: 17.875 square units

**b) Create a temperature variable in Celsius. 
Convert it to Fahrenheit using the formula: F = (C * 9/5) + 32. 
Store this temperature in a variable called Fahrenheit and print this variable.**

In [4]:
# Temperature in Celsius
temp_celsius = 35

# Converting Celsius Temperature to Fahrenheit Temperature
temp_fahrenheit = (temp_celsius * 9/5) + 32

# Print the temperature in Fahrenheit
print("Temperature in Fahrenheit:", temp_fahrenheit)

Temperature in Fahrenheit: 95.0

**c) Create a variable called radius and give it a value of 5. Calculate the area of a circle with this radius
   and store it in a variable called area. Print area at the end of your code. (Use the formula: area = π *
   radius^2, where π (pi) is approximately 3.14159).**

In [5]:
# Initializing with given radius
radius = 5.0

# Calculating the area of the circle
pi = 3.14159
area = pi * (radius ** 2)

# Print the area of the circle
print("The area of the circle is:", area)

The area of the circle is: 78.53975

## Task 3: Introduction to Data Structures

**a) Create a list called "fruits" containing the following fruits: 
   "apple", "banana", "orange", "grape", and "kiwi". Print the list.**

In [2]:
# Creating a list called "fruits"
fruits = ["apple", "banana", "orange", "grape", "kiwi"]

# Printing the list
print(fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi']

**b) Create a tuple named "months" with the names of the first three months of the year. 
   Print the tuple.**

In [7]:
# Creating a tuple named "months" 
months = ("January", "February", "March")

# Printing the tuple
print(months)

('January', 'February', 'March')

## Task 4: List Manipulation

**a) Given the list of numbers below, write a Python program to calculate the sum and average of
   these numbers. Print both results.**
   
   numbers = [12, 34, 45, 67, 89, 100, 23, 56]

In [8]:
# List of given numbers
numbers = [12, 34, 45, 67, 89, 100, 23, 56]

# Calculating the sum of numbers in the list
sum_of_numbers = sum(numbers)

# Calculating the average of numbers in the list
average_of_numbers = sum_of_numbers / len(numbers)

# Print the results
print("Sum:", sum_of_numbers)
print("Average:", average_of_numbers)

Sum: 426
Average: 53.25

**b) Remove the first and last elements from the &quot;fruits&quot; list created earlier. Print the updated list.**

In [3]:
# Removing the first and last elements
fruits = fruits[1:-1]

# Printing the updated list
print(fruits)

['banana', 'orange', 'grape']

## Task 5: Dictionary Operations

**a) Create a dictionary named "capitals" with three key-value pairs: "USA" - "Washington D.C.",
"France" - "Paris"' and "Japan" - "Tokyo". Print the dictionary.**

In [6]:
# Creating a dictionary named "capitals"
capitals = {
    "USA": "Washington D.C.",
    "France": "Paris",
    "Japan": "Tokyo"
}

# Printing the dictionary
print(capitals)

{'USA': 'Washington D.C.', 'France': 'Paris', 'Japan': 'Tokyo'}

**b) Add a new country and its capital to the "capitals"; dictionary. The country is "Germany", and the capital is Berlin". Print the updated dictionary.**

In [16]:
# Adding a new country and its capital to the "capitals" dictionary
capitals["Germany"] = "Berlin"

# Printing the updated dictionary
print(capitals)

{'USA': 'Washington D.C.', 'France': 'Paris', 'Japan': 'Tokyo', 'Germany': 'Berlin'}

**c) Check if "France" exists in the "capitals" dictionary. If it does, print "France" is in the dictionary.",
otherwise, print "France is not in the dictionary." (at the end of the lab notebook for session 1, I have
added an example of how to use “in” in python).**

In [7]:
# Checking if "France" is in the "capitals" dictionary
if "France" in capitals:
    print("France is in the dictionary.")
else:
    print("France is not in the dictionary.")

France is in the dictionary.

## Task 6: Comparison Operators, Logical Operators and If/Else:

**a) Create a variable called number that takes user input (we studied the input() function). Next,
write a block of code that checks if the number is even or odd (hint: modulo operator. Refer to lab
notebook 1).

**Your output should print “The number is even”, or the “The number is odd”.**

In [8]:
# Input a number
number = int(input("Enter a number: "))

# Checking if the number is even or odd
if number % 2 == 0:
    print(f"{number} is an even number.")
else:
    print(f"{number} is an odd number.")

Enter a number: 5
5 is an odd number.

**b) Create two variables called age and GPA. Give them values of your choice. Next, write a block of
code to check if a student with this age and GPA is eligible for admission. The following are the
conditions:**
    
- The student must be at least 18 years old.

- The student's GPA must be 3.0 or higher on a scale of 4.0.

Your output should print “Eligible for admission” or “Not eligible for admission”.

In [9]:
# Assigning values to variables
age = 20  
GPA = 3.5  

# Checking eligibility 
if age >= 18 and GPA >= 3.0:
    print("Eligible for admission")
else:
    print("Not eligible for admission")

Eligible for admission

## Task 7: Advanced Data Types

**a) Create a set named "fruits_set" containing the following fruits: "apple", "banana", "orange",
"grape", and "kiwi". Print the set.**

In [10]:
# Creating a set named "fruits_set"
fruits_set = {"apple", "banana", "orange", "grape", "kiwi"}

# Printing the set
print(fruits_set)

{'banana', 'orange', 'kiwi', 'grape', 'apple'}

**b) Given two sets:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

Write Python code to perform the following operations and print the results:
- Union of set1 and set2.
- Intersection of set1 and set2.
- Difference between set1 and set2.
- Check if set1 is a subset of set2.

In [11]:
# set1 & set2
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Union of set1 and set2
union_result = set1.union(set2)
print("Union:", union_result)

# Intersection of set1 and set2
intersection_result = set1.intersection(set2)
print("Intersection:", intersection_result)

# Difference between set1 and set2
difference_result = set1.difference(set2)
print("Difference:", difference_result)

# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)
print("Is set1 a subset of set2:", is_subset)

Union: {1, 2, 3, 4, 5, 6, 7}
Intersection: {3, 4, 5}
Difference: {1, 2}
Is set1 a subset of set2: False

## Task 8: Strings Manipulation

**a) Create a string variable containing the following sentence:
"Python programming is fun and powerful!"**

**Write Python code to do the following and print the results:**
- Find the length of the string.
- Convert the string to uppercase.
- Replace "fun" with "exciting."
- Check if the string contains the word "Python"
- Split the string into a list of words.

In [12]:
# String variable
sentence = "Python programming is fun and powerful!"

# Finding the length of the string
length_of_string = len(sentence)
print("Length of the string:", length_of_string)

# Converting the string to uppercase
uppercase_string = sentence.upper()
print("Uppercase string:", uppercase_string)

# Replacing the word "fun" with "exciting"
updated_sentence = sentence.replace("fun", "exciting")
print("Updated sentence:", updated_sentence)

# Checking if the string contains the word "Python"
contains_python = "Python" in sentence
print("Does the string contain the word 'Python'? ", contains_python)

# Spliting the string into a list of words
words_list = sentence.split()
print("List of words:", words_list)

Length of the string: 39
Uppercase string: PYTHON PROGRAMMING IS FUN AND POWERFUL!
Updated sentence: Python programming is exciting and powerful!
Does the string contain the word 'Python'?  True
List of words: ['Python', 'programming', 'is', 'fun', 'and', 'powerful!']

## Task 9: Functions

**a) Write a function called num_vowels that takes in a string as an argument, and returns the
number of vowels in that string. Print out the result for the string “Learning Python is fun
and engaging.”**

In [13]:
def num_vowels(input_string):
    
    # Counting vowels 
    count = 0
    vowels = "aeiou"

    for char in input_string:
        if char.lower() in vowels:
            count += 1   
    return count

input_string = "Learning Python is fun and engaging."
result = num_vowels(input_string)

# Print the result
print(f"The number of vowels in the string is: {result}")

The number of vowels in the string is: 10

**b) Create a function called hours_to_min that converts hours into minutes. The function
should take the number of hours as input and return the equivalent number of minutes.
Test the function with 2.5 hours and print the result.**

In [15]:
def hours_to_min(hours):
    # Converting hours to minutes
    minutes = hours * 60
    return minutes

# Execute the function with 2.5 hours
result = hours_to_min(2.5)

# Print the result
print(f"2.5 hours is equal to {result} minutes.")

2.5 hours is equal to 150.0 minutes.

**c) Write a python function that takes in a number as an argument, and prints out the table of
that number up to 12 times that number. You may name this whatever you wish.**

Sample output:

1 x 8 = 8 \
2 x 8 = 16 \
3 x 8 = 24 \
4 x 8 = 32 \
5 x 8 = 40 \
6 x 8 = 48 \
7 x 8 = 56 \
8 x 8 = 64 \
9 x 8 = 72 \
10 x 8 = 80 \
11 x 8 = 88 \
12 x 8 = 96

In [14]:
def print_table(number):
    for i in range(1, 13):
        result = number * i
        print(f"{i} x {number} = {result}")

# execute function with the number 5
print_table(5)

1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50
11 x 5 = 55
12 x 5 = 60